<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/user/index">| WittyFood |</a>&nbsp;&nbsp;
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/user/index">Home</a></li>
      <li><a href="/order/getdet">OrderFood</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/user/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<div class="page-header">
<h2>Welcome To WittyFood!</h2>
</div>
<%if(req.session.user.gender=="male"){%>
<h2>Mr. <%=req.session.user.name%></h2>
<%}%>
<%if(req.session.user.gender=="female"){%>
<h2>Miss <%=req.session.user.name%></h2>
<%}%>
<br><h4 id="yetord">Orders To Complete:</h4>
<%if(yetord.length!=0){%>
<%for (var i in yetord){%>
  <div class="col-sm-4">

  <span class="f2"><%=parseInt(i)+1%>.</span><p class="f2">Date: <%=yetord[i].date%><br>
  Restaurant: <%=yetord[i].date%><br>
  Items:
  <ul style="margin-left:3px;color:#000000;font-size:18px">
    <%for (var j in yetord[i].item){%>
      <li><%=yetord[i].item[j]%></li>
    <%}%>
  <ul>
  </p>
  <a href="/order/orderf/<%=yetord[i].id%>/" class="btn btn-danger">Pass</a>
  </div>
<%}%>
<%}%>
</div>
<div class="container">
<br><br>
<br><h4 id="compord">Orders Completed:</h4>
<%if(compord.length!=0){%>
<%for (var i in compord){%>
  <div class="col-sm-4">
    <p class="f2">Order Id: <%=compord[i]%></p>
  </div>
<%}%>
<%}%>
<%if(compord.length==0){%>
No Orders So Far!
<%}%>
</div>
